code .keyword,
code .keyword_modifier,
code .keyword_function,
code .keyword_type,
code .keyword_exception {
  color: var(--yellow);
  font-weight: bold;
}

code .type_builtin,
code .function_builtin code .keyword_exception {
  color: var(--yellow);
}

code .variable {
  color: var(--fg0);
}

code .string {
  color: var(--green0);
}

code .comment {
  color: var(--brown);
}